@media(max-width: 1366px) {
    .navbar {
        &__logo {
            max-width: 100px;
        }
        &__list {
            margin-left: 10px;
            &--right {
                margin-left: 0;
                margin-right: 20px;
            }
        } 
        &__item {
            padding: 10px 0;
            &--button-in {
                margin-left: 15px;
            }
        }
        &__link {
            padding: 10px 10px;
        }      
    }
    .btn {
        padding: 16px 25px;
    }
    .icon {
        margin-right: 5px;
    }
}

@media(max-width: 992px) {
    .navbar {
        background: green;
    }
}